@import url(styles/header.css);
@import url(styles/banner.css);
@import url(styles/carrossel.css);
@import url(styles/topicos.css);
@import url(styles/contato.css);
@import url(styles/rodape.css);
:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --preto: #000000;
    --vermelho: #356585;
    --azul-escuro: #133C55;
    --outro-azul: #002F52;
    --cor-botao: #712E5F;
    --cor-texto: #EB9B00;
    --cinza: #474646;
    --cinza-claro: #858585;
    --fonte-principal: 'Raleway', sans-serif;
    --fonte-segunda: 'Arimo', sans-serif;
    --fonte-terceira: 'Josefin Sans', sans-serif;
}

body {
    background-color: var(--cor-de-fundo);
    font-size: 16px;
    font-weight: 400;
}
